.all-photos-container {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-left: -35px;
	margin-right: -35px;
}

.all-photos-photo {
	width: 350px;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

@media (max-width: 600px) {
	.all-photos-photo {
		width: 350px;
	}
}