.photo-container {
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	height: 100%;
    position: relative;
    width: 100%; /* Adjust as needed */
    overflow: hidden;
}

.photo-container a {
	text-decoration: none;
}
  
.photo-container img.photo {
    width: 100%;
    transition: opacity 0.5s ease;
}

.photo-title, .photo-description {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff; /* Text color */
    opacity: 0; /* Start invisible */
    display: flex;
    padding: 20px; /* Adjust as needed */
    transition: opacity 0.8s ease; /* Smooth transition for fade effect */
    color: var(--primary-color);
    font-family: var(--secondary-font);
}
  
.photo-description {
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: end;
}

.photo-title {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 700;
}

  
.photo-container:hover img.photo {
    opacity: 0.3; /* Adjust as needed to fade out the image */
}

.photo-container:hover .photo-description, .photo-container:hover .photo-title {
    opacity: 1; /* Make description visible */
}
  